@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');

.containertituloindex{
    display:block;

  
}
.containertituloindex2{
    display:block;

  
}
.tituloindex2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    line-height: 36;
    font-size: 40;
    color: #A626B1;
  }

.tituloindex {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    line-height: 36;
    font-size: 90;
    color: #A626B1;
  }

@media screen and (max-width:768px){
    .tituloindex{
        color: #A626B1;
        font-size: 40;
    }
}

@media screen and (max-width:576px){
    .tituloindex{
        color: #A626B1;
        font-size: 36;
    }
}

.containerinstaindex{
    display:flex;
    flex-direction: row-reverse;
    text-align: flex-start;
    justify-content: flex-start;
}

.tituloinsta {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: thin;
    font-size: 40px;
    color: #1F85DE;
  }

@media screen and (max-width:900px){
    .tituloinsta{
        color: #1F85DE;
        font-size: 40;
    }
}

@media screen and (max-width:768px){
    .tituloinsta{
        color: #1F85DE;
        font-size: 20;
    }
}

@media screen and (max-width:576px){
    .tituloinsta{
        color: #1F85DE;
        font-size: 10;
    }
}
