.parent {
    display: flex; 
}

.item {
    border: 1px solid;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
}


.item:nth-child(1){
    background: rgb(211, 199, 255);
}

.item:nth-child(2) {
    background: rgb(255, 241, 201);
}

.item:nth-child(3){
    background: rgb(250, 206, 206);
}

.item:nth-child(4){
    background: rgb(195, 241, 205);
}

.item:nth-child(5){
    background: rgb(253, 203, 238);
}

.item:nth-child(6){
    background: rgb(255, 203, 172);
}