*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
img {
    max-width: 100%;
    height: auto;
}
.grid{
    background-image: linear-gradient(-225deg, #DEFDFF 0%, #E5EFFB 20%, #E6E7F7 40%, #F4D3F4 60%, #E2A8D6 100%);
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "header header main main main"
    "header header  main main main"
    "header header  main main main"
    "footer footer main main main"
    "footer footer main main main";
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid__item{
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

@media screen and (max-width:900px){
    .grid{
        grid-template-areas: 
        "header header main main main"
        "header header  main main main"
        "header header  main main main"
        "footer footer main main main"
        "footer footer main main main";
    }
}

@media screen and (max-width:768px){
    .grid{
        grid-template-columns:1fr;
        grid-template-rows: repeat(5,1fr);
        grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer ";
    }
}

@media screen and (max-width:576px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
}


.containerframe{
    display:flex;
    flex-direction: row-reverse;
    text-align: flex-start;
    justify-content: flex-start;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 1328;
    height: 1054;
  }

@media screen and (max-width:900px){
    .frame{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 1328;
        height: 1054;
    }
}

@media screen and (max-width:768px){
    .frame{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width:576px){
    .frame{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 500px;
        height: 400px;
    }
}

.insta{
    display: inline-block;
}

.containerinstagram{
    display:inline-block;
}

.instagram {
    display: flex;
    justify-content: right;
    width: 50;
    height: 50;
  }

@media screen and (max-width:900px){
    .instagram{
        display: inline-block;
     
        width: 50;
        height: 50;
    }
}

@media screen and (max-width:768px){
    .instagram{
        display: inline-block;
        width: 30;
        height: 30;
    }
}

@media screen and (max-width:576px){
    .instagram{
        display: inline-block;
        width: 25;
        height: 25;
    }
}

.containerfooterindex{
    display: flex;
    justify-content: center;

}

.containerornament {
    position: relative; 
    width: 500px; 
    height: 500px;
  }

.ornament {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 1328;
    height: 1054;
    position: absolute; 
    top: 0px; 
    left: 0px;
  }

@media screen and (max-width:900px){
    .ornament{
        position: absolute; 
        top: 0px; 
        left: 0px;
    }
}

@media screen and (max-width:768px){
    .ornament{
        position: absolute; 
        top: 0px; 
        left: 0px;
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width:576px){
    .ornament{
        position: absolute; 
        top: 0px; 
        left: 0px;
        width: 200px;
        height: 150px;
    }
}


.clip {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    width: 300px;
    height: 450px;
    top: 30%;
  }

@media screen and (max-width:900px){
    .clip{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width:768px){
    .clip{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 180px;
        height: 280px;
        top: 15%;
        left: 35%;
    }
}

@media screen and (max-width:576px){
    .clip{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 150px;
        height: 200px;
        top: 90px;
        left: 30%;
    }
}