*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*Medidas de las secciones por pantalla con grid*/
.grid{

    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer ";
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid__item{
    font-size: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

@media screen and (max-width:768px){
    .grid{
        grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer ";
    overflow-x: hidden;
    overflow-y: hidden;
    }
    
}

@media screen and (max-width:576px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "header"
        "main"
        "footer";
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
