@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');


.tituloticket1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 4rem;
    top: 10%;
    position: absolute;
    text-align: center;
    left: 10%;

}
@media screen and (max-width:900px){
    .tituloticket1{
        font-size: 3rem;
        top: 100px;
        text-align: center;
    }
}

@media screen and (max-width:768px){
    .tituloticket1{
        font-size: 2.5rem;
        top: 80px;
        position: relative;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:576px){
    .tituloticket1{
        font-size: 2rem;
        top: 50px;
        position: relative;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:320px){
    .tituloticket1{
        font-size: 2rem;
        top: 20%px;
        position: relative;
        justify-content: center;
        text-align: center;
    }
}



.tituloticket3 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 2rem;
    top: 35%;
    position: absolute;
    left: 10%;

}
@media screen and (max-width:900px){
    .tituloticket3{
        font-size: 2rem;
        top: 30%;
    }
}

@media screen and (max-width:768px){
    .tituloticket3{
        font-size: 1.5rem;
        top: 35%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .tituloticket3{
        font-size: 0.875rem;
        top: 40%;
        left: 0%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .tituloticket3{
        font-size: 0.875rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}



.tituloticket4 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    top: 36%;
    position: absolute;
    right: 10%;

}
@media screen and (max-width:900px){
    .tituloticket4{
        font-size: 1.5rem;
        top: 30%;
    }
}

@media screen and (max-width:768px){
    .tituloticket4{
        font-size: 1.2rem;
        top: 35%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .tituloticket4{
        font-size: 0.75rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .tituloticket4{
        font-size: 0.75rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}


