*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

  body {
    background-image: linear-gradient(120deg, #92B5FD 0%, #9EBAFD 20%, #BBC7FF 40%, #D2D0FF 60%, #E8DAFF 80%, #F0DDFF 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }