@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap');


.titulohome1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 4rem;
    top: 2%;
    position: absolute;
    left: 10%;

}
@media screen and (max-width:900px){
    .titulohome1{
        font-size: 3rem;
        top: 5%;
    }
}

@media screen and (max-width:768px){
    .titulohome1{
        font-size: 2.5rem;
        top: 5%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome1{
        font-size: 2rem;
        top: 5%;
        left: 0%;
        position: fixed;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .titulohome1{
        font-size: 1.5rem;
        top: 20%px;
        position: fixed;
        justify-content: center;
    }
}


.titulohome2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #761CBC;
    font-size: 4rem;
    top: 10%;
    left: 10%;
    position: absolute;

}
@media screen and (max-width:900px){
    .titulohome2{
        font-size: 3rem;
        top: 10%;
        position: fixed;
    }
}

@media screen and (max-width:768px){
    .titulohome2{
        font-size: 2.5rem;
        position: fixed;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome2{
        font-size: 2rem;
        position: fixed;
        justify-content: center;
        left: 0%;
    }
}

@media screen and (max-width:320px){
    .titulohome2{
        font-size: 1.5rem;
        top: 10%;
        position: absolute;
        justify-content: center;
    }
}


.titulohome3 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 2rem;
    top: 35%;
    position: absolute;
    left: 10%;

}
@media screen and (max-width:900px){
    .titulohome3{
        font-size: 2rem;
        top: 30%;
    }
}

@media screen and (max-width:768px){
    .titulohome3{
        font-size: 1.5rem;
        top: 35%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome3{
        font-size: 0.875rem;
        top: 40%;
        left: 0%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .titulohome3{
        font-size: 0.875rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}

.titulohome4 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    top: 36%;
    position: absolute;
    right: 10%;

}
@media screen and (max-width:900px){
    .titulohome4{
        font-size: 1.5rem;
        top: 30%;
    }
}

@media screen and (max-width:768px){
    .titulohome4{
        font-size: 1.2rem;
        top: 35%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome4{
        font-size: 0.75rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .titulohome4{
        font-size: 0.75rem;
        top: 40%;
        position: absolute;
        justify-content: center;
    }
}

.titulohome5 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 2rem;
    top: 65%;
    position: absolute;
    left: 10%;

}
@media screen and (max-width:900px){
    .titulohome5{
        font-size: 2rem;
        top: 60%;
    }
}

@media screen and (max-width:768px){
    .titulohome5{
        font-size: 1.5rem;
        top: 65%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome5{
        font-size: 0.875rem;
        top: 70%;
        left: 0%;
        position: absolute;
        justify-content: left;
    }
}

@media screen and (max-width:320px){
    .titulohome5{
        font-size: 0.875rem;
        top: 65%;
        position: absolute;
        justify-content: center;
    }
}

.titulohome6 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;   
    padding: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 1.5rem;
    top: 65%;
    position: absolute;
    right: 10%;

}
@media screen and (max-width:900px){
    .titulohome6{
        font-size: 1.5rem;
        top: 60%;
    }
}

@media screen and (max-width:768px){
    .titulohome6{
        font-size: 1.2rem;
        top: 65%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:576px){
    .titulohome6{
        font-size: 0.75rem;
        top: 70%;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width:320px){
    .titulohome6{
        font-size: 0.75rem;
        top: 65%;
        position: absolute;
        justify-content: center;
    }
}