* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow-x: auto;
    width: 1000%;
    text-align: center;
    white-space: nowrap;
    justify-content: flex-start;
    padding: 5% 10%;
    box-sizing: border-box;
    top: -18%;
}

.item {
    flex-shrink: 0;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

.item:nth-child(1) {
    background: rgb(211, 199, 255);
}

.item:nth-child(2) {
    background: rgb(255, 241, 201);
}

.item:nth-child(3) {
    background: rgb(250, 206, 206);
}

.item:nth-child(4) {
    background: rgb(195, 241, 205);
}

.item:nth-child(5) {
    background: rgb(253, 203, 238);
}

@media screen and (max-width: 900px) {
    .parent {
        width: 100%;
        top: 25%;
        left: 2%;
        position: fixed;
    }

    .item {
        width: 180px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 768px) {
    .parent {
        width: 100%;
        top: 20%;
    }

    .item {
        width: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 576px) {
    .parent {
        width: 100%;
        padding: 20% 10%;
        font-size: 0.78rem;
        justify-items: center;
        position: fixed;
        left: 0%;
    }

    .item {
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
        left: 0%;
        position: relative,
    }
}
