html, body {
  height: 100%;
  overflow: hidden; /* Evita el desbordamiento del contenido cuando se abre el teclado */
}
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Centrado del contenedor en la pantalla */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
  overflow: hidden;
}

/* Contenedor del campo de búsqueda */
.search-container {
  position: absolute; 
  display: flex;
  align-items: center;
  width: 350px;
  cursor: move; 
  max-width: 100%; 
  z-index: 10;
  padding: 10px;
  box-sizing: border-box;
  top: 22%;
  left: 10%;
}

/* Estilo del campo de búsqueda */
.search-container input[type="search"] {
  width: 100%; 
  font-size: 1rem;
  padding: 10px 15px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  color: #333;
  background-color: #f9f9f9;
}

/* Icono dentro del campo de búsqueda */
.search-icon {
  position: absolute;
  left: 15px; 
  font-size: 1.2rem;
  color: #aaa;
  pointer-events: none; 
}


.search-container input[type="search"]:focus + .search-icon {
  color: #440088; /* Cambia el color del icono cuando se activa el input */
}

/* Responsivo para varios dispositivos*/
@media screen and (max-width: 768px) {
  .search-container {
    width: 80%;
    max-width: 300px;
  }

  .search-container input[type="search"] {
    padding: 8px 12px 8px 35px;
  }

  .search-icon {
    left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    width:120%;
    max-width: 280px;
    top: 20%;
  }

  .search-container input[type="search"] {
    padding: 8px 10px 8px 30px;
  }

  .search-icon {
    left: 15px;
  }
}
