* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
  
  .buscar {
    position: fixed;
    left: 12%;
    top: 24%;
  }
  
  .buscar input {
    width:55px;
    height: 55px;
    padding: 0px 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
   
  }
  
  .btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: #440088;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .buscar:hover input {
    width: 240px;
  }
  
  .buscar input:focus {
    width: 240px;
  }

  @media screen and (max-width:900px){
    .buscar{
        position: absolute;
        top: 20%;
        left: 15%;
    }
}

@media screen and (max-width:768px){
    .buscar{
        position: absolute;
        top: 17%;
    }
}

@media screen and (max-width:576px){
    .buscar{
        position: absolute;
        top: 20%;
        left: 15%;
    }
}

@media screen and (max-width:320px){
    .buscar{
        position: absolute;
        top: 20%;
    }
}